Source: particle-agent
Section: ruby
Priority: optional
Maintainer: Julien Vanier <julien@particle.io>
Uploaders: Julien Vanier <julien@particle.io>
Build-Depends: debhelper (>= 9~),
               gem2deb,
               bundler,
               rake,
               ruby-highline (>= 1.6),
               ruby-particlerb (>= 1.2),
               ruby-thor (>= 0.19),
               ruby-whirly (>= 0.2)
Standards-Version: 3.9.7
Vcs-Git: https://github.com/particle-iot/particle-agent.git
Vcs-Browser: https://github.com/particle-iots/particle-agent.git
Homepage: http://www.particle.io
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: particle-agent
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         bundler,
         ruby-highline (>= 1.6),
         ruby-particlerb (>= 1.2),
         ruby-thor (>= 0.19),
         ruby-whirly (>= 0.2),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Particle firmware on the Raspberry Pi
 This program allows connecting a Raspberry Pi to the Particle Cloud.
 It supervises the Particle firmware executable running on Raspberry Pi.
